// Primary colours
$primaryMain: #2a7e43;
$primaryLight: #7ebd91;
$primaryDark: #003f13;

// Background colours
$backgroundMain: #ffffff;
$backgroundAccent: #a3c9ae;

// Accent colour
$accentMain: #0c0c0c;
$accentLight: #4b4b4b;
