// Primary colours
$primaryMain: #083a17;
$primaryLight: #a6dfb7;
$primaryDark: #003f13;

// Background colours
$backgroundMain: #ffffff;
$backgroundAccent: #a3c9ae;

// Accent colour
$accentMain: #0c0c0c;
$accentLight: #4b4b4b;

// Font sizes
$fontDefault: 18px;
$fontTitle: 25px;
