// Primary colours
$primaryMain: #147531;
$primaryLight: #6bc786;
$primaryDark: #074e1f;

// Background colours
$backgroundMain: #ffffff;
$backgroundAccent: #c2c2c2;

// Accent colour
$accentMain: #141414;
$accentLight: #636363;
