@import "variables";

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.tableWrapper {
    overflow: hidden;
    overflow-x: scroll;
    width: 50%;

    table {
        margin: 20px auto;
        border-collapse: collapse;
        font-size: 20px;
        text-align: right;
        overflow: hidden;
        border-radius: 10px;
        width: 100%;

        thead {
            font-size: 18px;
            font-weight: 600;
            color: $backgroundMain;

            tr {
                background-color: $primaryMain;
                border-bottom: 7px solid $primaryLight;
            }
        }

        th,
        td {
            padding: 20px 40px;
        }

        tbody {
            tr {
                background-color: $backgroundMain;
                &:nth-child(2n) {
                    background-color: $backgroundAccent;
                }
            }
        }
    }
}

.content {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    font-size: 20px;
    a {
        color: $primaryDark;
        &:hover {
            color: $primaryMain;
        }
    }
}

.buttonCheckout {
    font-weight: 600;
    width: 30%;
    margin: 20px 0;
    padding: 15px 25px;
    border-radius: 5px;
    color: $backgroundMain !important;
    background-color: $primaryMain;
    transition: all 0.2s ease 0s;
    &:hover {
        color: $primaryDark !important;
        background-color: $primaryLight;
    }
}

.message {
    font-size: 30px;
    font-weight: 600;
    width: 50%;

    a {
        font-weight: 600;
        color: $primaryMain;
        transition: all 0.2s ease 0s;

        &:hover {
            color: $primaryDark;
        }
    }
}

.counter {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .pad {
        color: $backgroundMain;
        border-radius: 5px;
        background-color: #8b8b8b;
        padding: 10px 15px;
        margin: 0 5px;
        transition: all 0.2s ease 0s;
        &:hover {
            background-color: $accentLight;
        }
    }

    span {
        background-color: #8b8b8b !important;
    }
}
