@import "variables";

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    width: 20%;

    h3 {
        font-size: 25px;
        margin: 10px 0 0 0 0;
    }

    h4 {
        font-size: 22.5px;
    }

    img {
        border-radius: 5px;
        width: 100px;
    }

    div {
        margin: 0 0 10px 0;
    }
}

@mixin button($color, $backgroundColor, $colorHover, $backgroundColorHover) {
    font-weight: 600;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: $color;
    background-color: $backgroundColor;
    transition: all 0.2s ease 0s;
    &:hover {
        color: $colorHover;
        background-color: $backgroundColorHover;
    }
}

.buttonDark {
    @include button($backgroundMain, $primaryMain, $primaryDark, $primaryLight);
}

.buttonLight {
    @include button($backgroundMain, $primaryDark, $primaryMain, $primaryLight);
}

.counter {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .pad {
        color: $backgroundMain;
        border-radius: 5px;
        background-color: #8b8b8b;
        padding: 10px 15px;
        transition: all 0.2s ease 0s;
        &:hover {
            background-color: $accentLight;
        }
    }

    span {
        background-color: #8b8b8b !important;
    }
}
