@import "variables";

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: $backgroundMain;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
