@import "variables";

.nav {
    padding: 10px 5%;
    background-color: $primaryMain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);

    h1 {
        font-size: 30px;
        color: $backgroundMain;
        transition: all 0.2s ease 0s;
        &:hover {
            color: $backgroundAccent;
        }
    }

    ul {
        list-style: none;
        li {
            font-size: 20px;
            color: $backgroundMain;
            transition: all 0.2s ease 0s;
            &:hover {
                color: $backgroundAccent;
            }
        }
    }
}
