@import "variables";

.header {
    header {
        position: relative;
        background: linear-gradient(
                rgba(57, 207, 37, 0.5),
                rgba(34, 114, 23, 0.5)
            ),
            url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
        background-size: cover;
        height: 500px;
        padding: 20px 10%;

        h1 {
            color: $backgroundMain;
            font-size: 60px;
        }

        p {
            color: $backgroundAccent;
            font-size: 22px;
        }

        a {
            color: $primaryMain;
            font-weight: 600;
            font-size: 30px;
            padding: 15px;
            border-radius: 5px;
            background-color: $backgroundMain;
        }

        text-align: center;

        border-bottom: 20px solid $accentMain;
    }
}
