@import "variables";
@import "row";

.header {
    header {
        position: relative;
        background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
        background-size: cover;
        height: 475px;
        border-bottom: 20px solid $accentMain;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        div {
            margin: 0;
            width: 80%;
            height: 80%;
        }

        h1 {
            color: $backgroundMain;
            text-transform: uppercase;
            font-size: 60px;
        }

        p {
            margin: 0 auto 60px auto;
            color: $backgroundMain;
            font-size: 22px;
            width: 60%;
        }

        a {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 30px;
            padding: 15px;
            border-radius: 5px;
            color: $backgroundMain;
            background-color: $primaryMain;
            box-shadow: 0 0 5px 5px rgba(17, 185, 73, 0.1);
            transition: all 0.2s ease 0s;
            &:hover {
                background-color: $primaryLight;
                color: $primaryDark;
            }
        }
    }
}
